.layout {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  margin: 0 0 1rem 0;
}

footer {
  border: 1px solid black;
  margin: 1rem 0 0 0;
}

.homeicon {
  height: 3rem;
  width: 3rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.article-link {
  display: flex;
  flex-direction: column;
  max-width: 33.33%;
  border: 0.1rem solid black;
  flex: 1;
  min-width: 300px;
  text-decoration: none;
  padding: 0.5rem;
}

.indiv-container {
  display: flex;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  flex: 1;
  max-width: 75%;
  min-width: 300px;
  text-decoration: none;
  padding: 0.5rem;
}

.votecomment {
  display: flex;
  justify-content: space-between;
}
