* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  margin: 0 0 1rem 0;
}

footer {
  border: 1px solid black;
  margin: 1rem 0 0 0;
}

.loading {
  height: 16rem;
  width: 16rem;
}
.loadingdiv {
  display: flex;
  justify-content: center;
}
.homeicon {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem 0 1rem;
}

.homeicon:hover {
  filter: contrast(0);
}

.username {
  padding: 0 1rem 0 1rem;
  font-size: medium;
}

.headertitle {
  flex-grow: 1;
  padding: 0 1rem 0 1rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-img {
  max-height: 300px;
  object-fit: cover;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65%;
  min-width: 300px;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.article-link {
  display: flex;
  flex-direction: column;
  max-width: 33.33%;
  border: 0.1rem solid black;
  flex: 1;
  min-width: 300px;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

.article-link:visited {
  text-decoration: none;
  color: black;
}

.article-link:hover {
  box-shadow: 5px 5px rgb(207, 207, 207);
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.article-link:focus {
  text-decoration: none;
  color: black;
}

.article-link:hover,
.article-link:active {
  text-decoration: none;
  color: black;
}

.article-title {
  margin: 0 0 1rem 0;
  font-weight: 600;
}

.article-votes {
  flex-grow: 1;
  padding: 0 0.7rem 0 1rem;
}

.indiv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  flex: 1;
  max-width: 65%;
  min-width: 300px;
  text-decoration: none;
  padding: 0.5rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  flex: 1;
  max-width: 65%;
  min-width: 300px;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
}

.no-comments {
  align-self: center;
  width: 100%;
}
.comment-item {
  border-bottom: 0.1rem solid black;
}

.votecomment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-divider {
  height: 80px;
  border-left: 1px solid black;
  margin: 10px 0 10px 0;
}

.authored-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.vote-error {
  font-size: 0.9rem;
  font-weight: 600;
  align-self: center;
}

.bold-article-numbers {
  font-weight: 800;
}

.one-plus-vote {
  font-weight: 600;
  width: 5rem;
  height: 2rem;
}

.one-minus-vote {
  font-weight: 600;
  width: 5rem;
  height: 2rem;
}

.comment-input {
  margin: 1rem;
  min-width: 300px;
  max-width: 65%;
  width: 100%;
}

.comment-submit {
  margin: 1rem;
}

.post-comment-container {
  display: flex;
  border-bottom: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.post-comment {
  margin: 0.5rem 0 0.5rem 0;
}

.comment-error-success {
  font-weight: 600;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
